<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BankWebApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div id="messageBoxOverlay" class="position-absolute h-100 w-100 d-flex justify-content-center" style="z-index: 100; background: #111111CC; visibility:collapse;">
        <div class="card mt-5 p-5 w-50 h-50">
            <div class="card-title"><h3 id="messageBoxTitle">Title</h3></div>
            <div id="messageBoxBody" class="card-body h-75 overflow-auto">
            </div>
            <button class="btn-warning rounded-3 mt-5 w-25 align-self-end" onclick="closeMessageBox()">Close</button>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-3 py-3">
            <div class="container-fluid">
                <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index">Easy<small class="text-muted">Bank</small></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="userNavLinks" class="navbar-nav flex-grow-1">
                        <a class="nav-link text-dark" style="cursor:pointer" onclick="loadUserView('index')">Home</a>
                        <a class="nav-link text-dark" style="cursor:pointer" onclick="loadUserView('profile')">Profile</a>
                        <a class="nav-link text-dark" style="cursor:pointer" onclick="loadUserView('accounts')">Accounts</a>
                        <a class="nav-link text-dark" style="cursor:pointer" onclick="loadUserView('transfer')">Transfer</a>
                    </div>
                    <div id="adminNavLinks" class="navbar-nav flex-grow-1" style="display: none">
                        <a class="nav-link text-dark" style="cursor:pointer" onclick="showView('USERS')">Users</a>
                        <a class="nav-link text-dark" style="cursor:pointer" onclick="showView('ACCOUNTS')">Accounts</a>
                        <a class="nav-link text-dark" style="cursor:pointer" onclick="showView('TRANSACTIONS')">Transactions</a>
                        <a class="nav-link text-dark" style="cursor:pointer" onclick="showView('LOGS')">Logs</a>
                    </div>
                </div>
            </div>
             <img id="navProfileIcon" class="me-4 rounded-circle" style="width:40px; height:40px; object-fit: cover;" onerror=""/>
            <button id="logoutBtn" class="btn btn-warning" onclick="logout()">Logout</button>
        </nav>
    </header>
    <div class="container min-vh-100">
        <main id="main" role="main" class="pb-3 w-100 h-100">
        </main>
    </div>

    <footer class="border-top bg-white mt-5 p-5 footer text-muted">
        <div class="container">
            &copy; 2024 - EasyBank ( Pamodya | Gimantha | Thamindu )
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
    <script src="~/js/profile.js" asp-append-version="true"></script>
    <script src="~/js/accounts.js" asp-append-version="true"></script>
    <script src="~/js/transactions.js" asp-append-version="true"></script>
    <script src="~/js/transfer.js" asp-append-version="true"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
</body>
</html>
