@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>

</div>
<div class="container align-content-center">
    <h2>Welcome to EasyBank</h2>
    <p>Please login or create an account to continue.</p>
    <button class="btn btn-primary" onclick="loadView('login')">Login</button>
    @* <button class="btn btn-primary" onclick="loadView('signup')">Signup</button> *@
</div>
