@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Data Tier API</h1>
    <p>EasyBank Data API, Now Online!</p>
    <p>Visit http://localhost:5096/ for the Web Application</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
